*{
    margin:0;
    padding:0;
}
ul,li{
    margin:0;
    padding:0;
    list-style-type: none;
}
html{
    height:100%;
    width: 100%;
}
body{
    width: 100%;
    height: 100%;
    position: relative;
}
input{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
button,input:focus,textarea:focus {
    outline: none;
}
#function{
    position: absolute;
    margin: auto;
    top: 10px;
    left: 10px;
    right: 10px;
    background-color: #FFFFFF;
    border: solid 1px #CCCCCC;
}
#function_in{
    margin: 10px;
    padding: 20px;
    background-color: #F7F7F7;
}
#function_in table{
    width: 100%;
}
#function_in table tr td{
    height: 50px;
    line-height: 50px;
    position: relative;
}
.title{
    width: 10%;
    text-align: center;
}
.list{
    width: 36%;
}

.blank{
    width: 8%;
    text-align: center;
}
.span{
    width: 12%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.input{
    height: 30px;
    padding-left: 5px;
    padding-right: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border: solid 1px #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}
.input:hover{
    border: solid 1px #999999;
}
.input:focus{
    border: solid 1px #00BC9E;
}
#privilege{
    width: 50%;
}
#timeFrom{
    width: 44%;
    position: absolute;
    margin: auto;
    left: 0;
}
#timeTo{
    width: 44%;
    position: absolute;
    margin: auto;
    right: 0;
}
.state{
    height: 26px;
    float: left;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
}
.state_chose {
    color: #FFFFFF;
    background-color: #539CDB;
    border: solid 1px #3189D4;
}
.state_unchose{
    color: #000000;
    background-color: #F7F7F7;
    border: solid 1px #F7F7F7;
}
#add{
    height: 35px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #539CDB;
    border: solid 1px #3189D4;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
}
#content{
    position: absolute;
    margin: auto;
    top: 200px;
    left: 10px;
    right: 10px;
    background-color: #FFFFFF;
    border: solid 1px #CCCCCC;
}
#top{
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 50px;
    position: relative;
}
#search{
    height: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
}
#search_button{
    width: 50px;
    height: 33px;
    float: right;
    border: solid 1px #CCCCCC;
    border-left:0px;
    border-radius: 0px 5px 5px 0px;
    background-size: 100% 100%;
    background-image: url('/img/search.png');
    cursor: pointer;
}
#search_input{
    width: 250px;
    height: 33px;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px #CCCCCC;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}
#search_font{
    width: 100px;
    height: 35px;
    float: right;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
}
#search_input:hover{
    border: solid 1px #999999;;
}
#search_button:hover{
    border: solid 1px #999999;
    border-left:0px;
}
#userdata{
    margin: 10px;
}
#userlist{
    width: 100%;
    font-size: 15px;
    border-collapse: collapse;
    border: solid 1px #CCCCCC;
}
#userlist tr{
    height: 60px;
}
#userlist tr:nth-child(1){
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    background-color: #EEF6F6!important;
}
#userlist tr:nth-child(2n+1){
    background-color: #FAFAFA;
}
#userlist tr:hover{
    background-color: #EEF6F6;
}
#userlist tr td{
    text-align: center;
}
#bottom{
    height: 50px;
    margin: 10px;
    line-height: 50px;
    position: relative;
    font-size: 14px;
}
#fenye{
    height: 30px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 30px;
}
#fenye *{
    float: left;
}
#fenye span{
    margin: 0 5px 0 5px;
}
#totalcount{
    height: 30px;
    margin: 0 5px 0 0;
}
#pageNo{
    width: 25px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #CCCCCC;
}