<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" href="../css/frame/userList.css"/>
    <script type="text/javascript" src="../js/tools/jquery-3.3.1.min.js"></script>
    <!--分页插件-->
    <link rel="stylesheet" href="../css/tools/xlPaging.css"/>
    <script type="text/javascript" src="../js/tools/xlPaging.js"></script>
    <!--时间插件-->
    <link rel="stylesheet" href="../css/tools/jedate/jedate.css"/>
    <script type="text/javascript" src="../js/tools/jedate.js"></script>
</head>
<body>
    <div id="function">
        <div id="function_in">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="title">用户权限</td>
                    <td class="list">
                        <input class="input" id="privilege" placeholder="请选择用户权限" readonly>
                    </td>
                    <td class="blank"></td>
                    <td class="title">创建时间</td>
                    <td class="list">
                        <input class="input" id="timeFrom" placeholder="请选择开始时间" readonly>
                        <span class="span">至</span>
                        <input class="input" id="timeTo" placeholder="请选择结束时间" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="title">用户状态</td>
                    <td colspan="3">
                        <button id="-1" class="state state_unchose">全部</button>
                        <button id="0" class="state state_unchose">未认证</button>
                        <button id="1" class="state state_unchose">已认证</button>
                        <button id="2" class="state state_unchose">已锁定</button>
                    </td>
                    <td>
                        <shiro:hasPermission name="user:add">
                            <button id="add">新增用户</button>
                        </shiro:hasPermission>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="content">
        <div id="top">
            <div id="search">
                <div id="search_button"></div>
                <input id="search_input" placeholder="请输入姓名进行搜索" autocomplete="off">
                <div id="search_font">搜索</div>
            </div>
        </div>
        <div id="userdata">
            <table id="userlist" cellpadding="0" cellspacing="0" border="1px">
                <tr>
                    <td style="width: 6%;">序号</td>
                    <td style="width: 20%;">用户名</td>
                    <td style="width: 20%;">权限</td>
                    <td style="width: 10%;">状态</td>
                    <td style="width: 24%;">创建时间</td>
                    <td style="width: 20%;">操作</td>
                </tr>
            </table>
        </div>
        <div id="bottom">
            <div id="fenye">
                <div id="totalcount"></div>
                <div id="page"></div>
                <span>前往第</span><input id="pageNo"><span>页</span>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../js/frame/userList.js"></script>
</body>
</html>