<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>权限列表</title>
    <link rel="stylesheet" href="../css/frame/permissionList.css"/>
    <script type="text/javascript" src="../js/tools/jquery-3.3.1.min.js"></script>
    <!--树型选择插件-->
    <link rel="stylesheet" href="../css/tools/zTreeStyle.css"/>
    <script type="text/javascript" src="../js/tools/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../js/tools/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="../js/tools/jquery.ztree.exedit.js"></script>
</head>
<body>
    <div id="function">
        <div id="function_in">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="title">权限状态</td>
                    <td colspan="4">
                        <button id="-1" class="state state_unchose">全部</button>
                        <button id="0" class="state state_unchose">已启用</button>
                        <button id="1" class="state state_unchose">已冻结</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="content">
        <div id="permissiondata" class="zTreeDemoBackground left">
            <ul id="treeList" class="ztree"></ul>
        </div>
    </div>

    <script type="text/javascript" src="../js/frame/permissionList.js"></script>
</body>
</html>